{% extends 'base.html' %}

{% block meta %}
<meta property="og:title" content="{{ photo.title }}" />
<meta property="og:type" content="article" /> 
<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}{{ photo.thumb_url }}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:site_name" content="Polardroid" />
<meta property="og:app_id" content="206314542733689" />
<meta property="og:description" content="{{ photo.user }}'s photo on Polardroid. Upload, edit and share photos on Polardroid"/>

{% comment %}
og:title - The title of the entity.
og:type - The type of entity. You must select a type from the list of Open Graph types.
og:image - The URL to an image that represents the entity. Images must be at least 50 pixels by 50 pixels. Square images work best, but you are allowed to use images up to three times as wide as they are tall.
og:url - The canonical, permanent URL of the page representing the entity. When you use Open Graph tags, the Like button posts a link to the og:url instead of the URL in the Like button code.
og:site_name - A human-readable name for your site, e.g., "IMDb".
fb:admins or fb:app_id - A comma-separated list of either the Facebook IDs of page administrators or a Facebook Platform application ID. At a minimum, include only your own Facebook ID.
{% endcomment %}

{% endblock %}

{% block content %}

<div class="photo {% if edit %}active_filters{% endif %}" id="main_photo_frame">
	<div id="photo_canvas">
		<img id="main_photo" width="640px" height="640px" alt="{{ photo.title }}" src="{{ photo.url }}" />
	</div>
	<div id="photo_footer">
		<h2>{{ photo.title|upper }}</h2>
		<h4>By: <a href="/profile/{{ photo.user.id }}/">{{ photo.user.username }}</a></h4>
		{% if owner %}
			<a class="edit_button" href="/edit/{{ photo.id }}/">edit</a>
			<a class="delete_button" href="/delete/{{ photo.id }}/">delete</a>
		{% endif %}
		<a class="details_button" href="/view/{{ photo.id }}/details/">info</a>
		<a class="share_button share_button_active" href="#">share</a>
	</div>
	<div id="like_holder">
		<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=188338067883985&amp;xfbml=1"></script><fb:like href="" send="false" layout="button_count" width="160" show_faces="false" font="arial"></fb:like>
		<a href="http://twitter.com/share" class="twitter-share-button" data-text="Check out {{ photo.user }}'s photo '{{ photo.title }}' on polardroid!" data-count="horizontal" data-related="lucaas">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	</div>
</div>


	<ul class="filters {% if edit %}active_filters{% endif %}">
	<li><a class="filter" href="/filter/{{ photo.id }}/revert/"><img src="/uploads/graphics/filters/original.jpg" width="80px" height="80px" /><span>Original</span></a></li>
	<li><a class="filter" href="/filter/{{ photo.id }}/lomo/"><img src="/uploads/graphics/filters/lomo.jpg" width="80px" height="80px" alt="Metallic Lomo"/><span>Metallic Lomo</span></a></li>
	<li><a class="filter" href="/filter/{{ photo.id }}/agfa/"><img src="/uploads/graphics/filters/agfa.jpg" width="80px" height="80px" alt="Pink Seventies"/><span>Pink Seventies</span></a></li>
	<li><a class="filter" href="/filter/{{ photo.id }}/army/"><img src="/uploads/graphics/filters/army.jpg" width="80px" height="80px" alt="Orange Army"/><span>Orange Army</span></a></li>
	<li><a class="filter" href="/filter/{{ photo.id }}/cyan_glow/"><img src="/uploads/graphics/filters/cyan.jpg" width="80px" height="80px" alt="Dreamy Cyan<" /><span>Dreamy Cyan</span></a></li>
	<li><a class="filter" href="/filter/{{ photo.id }}/oldie/"><img src="/uploads/graphics/filters/oldie.jpg" width="80px" height="80px" alt="Oldie" /><span>Oldie</span></a></li>
	<li><a class="filter" href="/filter/{{ photo.id }}/halftone/"><img src="/uploads/graphics/filters/halftone.jpg" width="80px" height="80px" alt="Halftone"/><span>Halftone</span></a></li>
	<li><a class="filter" href="/filter/{{ photo.id }}/bw/"><img src="/uploads/graphics/filters/bw.jpg" width="80px" height="80px" alt="Blank &amp; White" /><span>Black &amp; White</span></a></li>
	<li><a class="filter" href="/filter/{{ photo.id }}/bw2/"><img src="/uploads/graphics/filters/bw2.jpg" width="80px" height="80px" alt="Gray, dark and dull" /><span>Gray, dark and dull</span></a></li>
	</ul>


{% endblock %}