{% extends 'base.html' %}

{% block content %}
<div class="photo">
<img width="640px" height="640px" alt="{{ photo.title }}" src="{{ photo.url }}" />
<h2>{{ photo.title|upper }}</h2>
<h4>By: <a href="/profile/{{ photo.user.id }}/">{{ photo.user.username }}</a></h4>
{% if not edit %}
	<a class="edit_button" href="/edit/{{ photo.id }}/">edit</a>
{% endif %}
</div>
{% if edit %}
	<ul class="filters">
	<li><a href="/revert/{{ photo.id }}/">Original</a></li>
	<li><a href="/filter/{{ photo.id }}/lomo/">Metallic Lomo</a></li>
	<li><a href="/filter/{{ photo.id }}/agfa/">Pink Seventies</a></li>
	<li><a href="/filter/{{ photo.id }}/army/">Orange Army</a></li>
	<li><a href="/filter/{{ photo.id }}/cyan_glow/">Dreamy Cyan</a></li>
	<li><a href="/filter/{{ photo.id }}/bw/">Black &amp; White</a></li>
	<li><a href="/filter/{{ photo.id }}/bw2/">Gray, dark and dull</a></li>
	</ul>
{% endif %}
{% endblock %}